# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Programming Theory.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UnityProjects\GitProjects\CreateWithCodeProjects\Challenges\Programming Theory\.idea\.idea.Programming Theory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
