# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Challenge 1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\CreateWithCodeProjects\Challenge 1\.idea\.idea.Challenge 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
