# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Challenge 3.iml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\CreateWithCodeProjects\Challenge 3\.idea\.idea.Challenge 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
