# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Data-Persistence-Starter-Files.iml
# Datasource local storage ignored files
/../../../../../../../../../:\UnityProjects\GitProjects\CreateWithCodeProjects\Challenges\Data-Persistence-Starter-Files\.idea\.idea.Data-Persistence-Starter-Files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
